
label
{
    font-size: .9rem;
    overflow-y: hidden;
}
hr.first {
    border: 8px solid darkred;


 
  }
  .main
  {
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding:10px

  }
  #email
  {
    margin-left: 4rem;
    width:70%;
  }
  .heading2
  {
    margin: 0 auto;
  }
  #h3
  {
   margin-left: 10rem;
    font-weight: bold;
    font-size: 2rem;
    color:black;
  }

  h{
color:darkred;
font-size: 1.2rem;
font-weight: bold;
margin: 0 auto;
}
#t2
{
    margin-left: 1%;
    margin: 0 auto;
}
.s
{
    font-size: .6rem;
    margin-left: 10rem;
  
}
.s1
{
    font-size: .6rem;
    margin-left: 10rem;
  
}
input{
    margin-left: 4rem;
}
#t3
{
   
    width:20%;
    margin: 0 auto;
}
.t4
{
    width:60%;
    margin-left: 3rem;
 
}
.s3
{
   
   font-size: .6rem;
   margin: 0 auto;
   
}
.s12
{

   font-size: .6rem;
   margin: 0 auto;
   
}
.s4
{
 
   font-size: .6rem;
   margin-left: 10rem;
   
}
.s5
{
  
   font-size: .6rem;
   margin-left: 4.8rem;
   
}
.s6
{
  
   font-size: .6rem;
   margin-left: 2rem;
   
}
select
{

    padding-right: 25px; 
    background-color: white;;
    background-position: right center, right center;
    background-size: 8px 8px, 8px 8px;
    background-repeat: no-repeat;
}
.sep
{
   
    width:20%;
    margin: 0 auto;
}
.file
{
 
    border: 1px solid black;
    padding: 2px;
    width:60%;
    margin-left: 3rem;
  
}
.k4
{
    width:20%;
    margin: 0 auto;
 
}
#ph
{
    font-size: .9rem;
    margin: 0 auto;
    
}
#h4
{  margin: 0 auto;
    
}
#t10
{
    width:20%;
    margin: 0 auto;
    font-size: .9rem;
}
#t5
{
    width:5%;
    margin: 0 auto;
    font-size: .9rem;
}
#f1
{
   
    font-size: .9rem;
    margin: 0 auto;
}
#t6
{
    margin: 0 auto;
    width:58%;
    font-size: .9rem;
}
.size
{  margin: 0 auto;
    font-size: .9rem;
}
#t11
{      width:60%;
    margin-left: 6.2rem;
    font-size: .9rem;
}
#t20
{
    width: 30%;
  margin-left: 5rem;
    font-size: .9rem;
}
#t21
{
    width: 3%;
    margin-left: .2rem;
    font-size: .9rem;
}
#t22
{
    width: 18%;
    margin-left: .2rem;
    font-size: .9rem;
}
.t7
{
    width:60%;
    margin-left: 6rem;

    font-size: .9rem;
}
.t9
{
    width:60%;
    margin-left: 2.2rem;
    font-size: .9rem;
}
.t10
{   
    width:60%;
      margin-left: 6.7%;
    margin-left: 6.7%;
    font-size: .9rem;
}
.t11
{
    width:60%;
    margin-left: 6.6rem;
}
#btn
{
   
    color: white;
    background-color: brown;
    font-weight: bold;
    align-content: center;
    width: 6rem;
    height:  2rem;
    margin-left: 10rem;
   
}
.se
{
    margin-left: 1rem;
    margin-top: -1rem;
}
option
{
    width: 20%;
}
.custom-select {
    position: relative;
    display: inline-block;
    width: 13%;
 
   
  }
  .space
  {
    margin-left: 1rem;
    margin-bottom: -1rem;
  }
  .space1
  {
    margin-left: 6rem;
    margin-bottom: -1rem;
    margin-top: -1rem;
  }
  .ok
  {
   
   margin-left: 1rem;
   margin-bottom: -1rem;
  }
  
  .custom-select select {
    appearance: none;
    -webkit-appearance: none;

    padding: 5px 25px 5px 10px; 
    border: 1px light black;
    border-radius: 0;
    font-size: 14px;
    width: 563%;
    margin-left: 5.2rem

  }
  
  .custom-select .arrow {
    position: absolute;
    top: 50%;
    right: -23rem;
    transform: translateY(-50%);
    margin-left: 9rem;
 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black; 
 
  }
  