*{
    background-image: url('pic.avif');
    background-repeat: repeat;


}
nav{
    margin-top: 15%;
    margin-left: 39%;
}
  
  nav ul {
    list-style-type: none;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
 
  }

  #h1
  {
    font-weight: bold;
    margin-left: 43%;
    font-size: 2rem;  
}
#iii
{

  width:300px;
   height:200px; 
   float:left;
}
#iiii
{

  width:300px;
   height:200px; 
   float:right;
}
#h2
{
  font-weight: bold;
  margin-left: 46.5%;
  font-size: 1.4rem;  
}
#h3
{
  font-weight: bold;
  margin-left: 32%;
  font-size: 1.4rem;  
}